<section id="about" class="about">
    <div class="section-title">
        <h2>A propos</h2>
    </div>
    <div class="card border-secondary mx-md-3 mb-md-3 mb-2">
        <div class="card-body">
            <p class="card-text">Je m'appelle Etienne, je suis désormais plus proche de la quarantaine que de la trentaine
                et j'habite dans une région tropicale située au carrefour de l'Allemagne et de la Suisse.
                Après un bref passage dans l'Education Nationale, j'ai effectué une reconversion professionnelle il y a
                de cela quelques années. Désormais, je suis développeur. Ce métier est exigeant et demande
                perpétuellement de se remettre en question car il y a toujours quelque chose à apprendre, un truc à
                mieux maîtriser, un bidule qu'on a envie de faire pour s'amuser. Cette mentalité rejoint ma philosophie
                de vie héritée de mes études en Histoire et de celles des grands Humanistes de la Renaissance : la
                curiosité.<br>
                C'est ce qui m'amène à apprendre la peinture sur figurines et la guitare, à pratiquer toutes sortes de
                sport, lire sur de nombreux sujets, bricoler, jardiner, créer un site dédié aux jeux vidéos, bref,
                expérimenter tous les aspects que la vie peut nous offrir !</p>
        </div>
    </div>
</section>