<section id="about" class="about">
    <div class="section-title">
        <h2>A propos</h2>
    </div>
    <div class="card border-secondary mx-3 mb-3">
        <div class="card-body">
            <p class="card-text">Il parait qu'une page "Qui sommes-nous ?" est consultée par 52% des personnes visitant votre site internet. Au-delà de cette statistique tout à fait remarquable, il me semblait normal et la moindre des choses de me présenter afin de satisfaire votre curiosité et mon ego surdimensionné. Vous verrez par la suite que c'est loin d'être le cas mais je laisse planer le suspense !</p>
        </div>
    </div>
    <div class="card border-secondary mx-3 mb-3">
        <div class="card-body">
            <p class="card-text">Je m'appelle Etienne, j'ai fraichement dépassé la trentaine et j'habite dans une région tropicale
                située au carrefour de l'Allemagne et de la Suisse.
                Après un bref passage dans l'Education Nationale, j'ai effectué une reconversion professionnelle il y a
                de cela quelques années. Désormais, je suis développeur. Ce métier est exigeant et demande
                perpétuellement de se remettre en question car il y a toujours quelque chose à apprendre, un truc à
                mieux maîtriser, un bidule qu'on a envie de faire pour s'amuser. Cette mentalité rejoint ma philosophie
                de vie héritée de mes études en Histoire et de celles des grands Humanistes de la Renaissance : la
                curiosité.<br>
                C'est ce qui m'amène à apprendre la peinture sur figurines et la guitare, à pratiquer toutes sortes de
                sport, lire sur de nombreux sujets, bricoler, jardiner, créer un site dédié aux jeux vidéos, bref,
                expérimenter tous les aspects que la vie peut nous offrir !</p>
        </div>
    </div>
    <div class="card border-secondary mx-3 mb-3">
        <div class="card-body">
            <p class="card-text">La vie est une aventure et cela s'est longtemps ressenti dans mes expériences capillaires. Suite à un
                dernier fiasco, la décision de me raser le crâne apparaît aujourd'hui comme étant l'une des plus
                clairvoyantes de ma vie.</p>
        </div>
    </div>
</section>