<section id="about" class="about">
    <div class="section-title">
        <h2>A propos</h2>
    </div>
    <div class="card border-secondary mx-md-3 mb-md-3 mb-2">
        <div class="card-body">
            <h5 class="font-weight-bold">Bienvenue sur mon univers digital !</h5>
            <p class="card-text justify-text">
                Je m'appelle Etienne, <span class="font-weight-bold text-black">développeur web passionné</span> et
                curieux de nature. Après une carrière dans l'Éducation Nationale, j'ai suivi ma passion pour le code et
                la technologie, me lançant dans une reconversion réussie en tant que développeur. Basé dans une région
                tropicale nichée entre l'Allemagne et la Suisse, j'aime explorer et apprendre continuellement.
                Le <span class="font-weight-bold text-black">développement web</span> est pour moi bien plus qu'un
                métier : c'est un terrain d'expérimentation où chaque projet est une nouvelle aventure. Avec une
                curiosité insatiable inspirée des grands Humanistes de la Renaissance, je plonge dans la peinture sur
                figurines, la musique, le sport, et même la <span class="font-weight-bold text-black">création de sites
                </span>pour les jeux vidéo. Mon objectif ? Offrir des <span class="font-weight-bold text-black">
                solutions digitales sur-mesure et innovantes</span> à ceux qui veulent bâtir leur présence en ligne.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center my-3">
        <a href="https://www.instagram.com/etienne_walch/" target="_blank"
           class="btn btn-lg">
            Rejoins moi sur Instagram !
        </a>
    </div>
</section>
