<section id="experiences" class="experiences">
    <div class="section-title">
        <h2>Experiences</h2>
    </div>
    <div class="container">
        <div class="section-title">
            <h4>Mon parcours professionnel</h4>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="col-lg-4">
                <div class="card bg-dark mb-3">
                    <div class="card-header">
                        Nartex
                        <a href="https://www.nartex.fr/" target="_blank">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Développeur Backend</h4>
                        <h6 class="card-subtitle text-muted">Avril 2021 - Actuel</h6>
                        <hr>
                        <p class="card-text justify-text">
                            J'ai conçu et développé des APIs robustes pour une entreprise de pointe dans le domaine
                            des applications mobiles. Mon travail a inclus la création de bases de données optimisées,
                            la mise en place d'architectures multi-services sous Docker, et l'industrialisation
                            d'outils internes pour améliorer l'efficacité opérationnelle. Mon expertise a contribué à
                            renforcer la flexibilité et la performance des solutions proposées, répondant aux besoins
                            complexes et évolutifs de l'industrie.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-dark mb-3">
                    <div class="card-header">Kiwi Backup</div>
                    <div class="card-body">
                        <h4 class="card-title">Développeur Fullstack</h4>
                        <h6 class="card-subtitle text-muted">Juin 2019 - Mars 2021</h6>
                        <hr>
                        <p class="card-text justify-text">
                            J'ai participé au développement d'une solution logicielle de sauvegarde cross-platform,
                            offrant une fiabilité accrue et une compatibilité étendue. Mes projets incluent des
                            développements variés en PHP, Python, et GO, chacun intégrant des technologies de pointe
                            pour répondre aux exigences spécifiques.
                            <hr>
                            J'ai également du m'adapter à des architectures Docker multi-services, garantissant une
                            flexibilité et une scalabilité optimales. Mon expertise en gestion de bases de données
                            s'étend à MySQL, MongoDB, et InfluxDB, permettant une gestion efficace des données et une
                            intégration harmonieuse dans des environnements complexes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-dark mb-3">
                    <div class="card-header">2LE</div>
                    <div class="card-body">
                        <h4 class="card-title">Développeur web</h4>
                        <h6 class="card-subtitle text-muted">Juin 2019 - Mars 2021</h6>
                        <hr>
                        <p class="card-text justify-text">
                            J'ai contribué au développement de logiciels métier sophistiqués au sein d'une agence
                            dynamique, avec un accent particulier sur la création d'interfaces web intuitives et
                            fonctionnelles. Mon travail a impliqué la conception et la réalisation de solutions sur
                            mesure, visant à optimiser les processus d'affaires et à améliorer l'expérience
                            utilisateur. Grâce à une approche centrée sur les besoins des clients, j'ai assuré que
                            chaque application soit à la fois performante et adaptée aux exigences spécifiques du
                            marché.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-title">
            <h4>Technologies</h4>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="col-lg-3">
                <div class="card bg-light mb-3">
                    <div class="card-header">PHP</div>
                    <div class="card-body">
                        <p class="card-text justify-text">
                            PHP est un langage de programmation spécialement conçu pour le développement web. Il permet de créer des sites dynamiques en générant du contenu en temps réel à partir de données et d'interactions des utilisateurs. En gros, c'est ce qui permet à vos pages web de réagir et de s'adapter selon ce que vous faites.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-light mb-3">
                    <div class="card-header">Framework Symfony</div>
                    <div class="card-body">
                        <p class="card-text justify-text">
                            Symfony est un ensemble d'outils pour construire des applications web en PHP. Il fournit des solutions pour gérer des tâches courantes comme la gestion des utilisateurs, la sécurité et la manipulation des données, ce qui permet de créer des sites web puissants et bien structurés plus rapidement.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-light mb-3">
                    <div class="card-header">Framework Bootstrap</div>
                    <div class="card-body">
                        <p class="card-text justify-text">
                            Bootstrap est un framework front-end qui facilite la conception de sites web responsives et élégants. Il fournit un ensemble de composants pré-conçus, comme des boutons et des formulaires, ainsi que des styles de mise en page pour rendre les sites web attrayants et adaptés à tous les appareils.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-light mb-3">
                    <div class="card-header">API Platform</div>
                    <div class="card-body">
                        <p class="card-text justify-text">
                            API Platform est un outil pour créer des APIs (Interfaces de Programmation d'Applications) en PHP. Il simplifie le processus de création et de gestion des APIs en automatisant des tâches complexes, ce qui permet de connecter facilement des applications et des services entre eux.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-light mb-3">
                    <div class="card-header">PostgreSQL</div>
                    <div class="card-body">
                        <p class="card-text justify-text">
                            PostgreSQL est un système de gestion de base de données relationnelle puissant et open-source. Il permet de stocker et de gérer des données de manière fiable, avec des fonctionnalités avancées comme la gestion des transactions et des types de données complexes, ce qui en fait un choix populaire pour des applications nécessitant une base de données robuste.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-light mb-3">
                    <div class="card-header">Docker</div>
                    <div class="card-body">
                        <p class="card-text justify-text">
                            Docker est une technologie qui simplifie le déploiement des applications en les isolant dans des conteneurs. Ces conteneurs sont comme des boîtes qui contiennent tout ce dont une application a besoin pour fonctionner, ce qui rend le processus d’installation et de gestion beaucoup plus facile et cohérent.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-light mb-3">
                    <div class="card-header">Twig</div>
                    <div class="card-body">
                        <p class="card-text justify-text">
                            Twig est un moteur de templates pour PHP qui rend la création de vues web plus facile. Il sépare le code de la logique de présentation, ce qui signifie que les développeurs peuvent créer des pages web élégantes et maintenables en utilisant des fichiers séparés pour le contenu et la structure.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-light mb-3">
                    <div class="card-header">Typesense</div>
                    <div class="card-body">
                        <p class="card-text justify-text">
                            Typesense est un moteur de recherche rapide et intuitif qui permet aux utilisateurs de trouver ce qu'ils cherchent en un instant. Il offre des fonctionnalités avancées de recherche en texte intégral et d'indexation, tout en étant facile à configurer et à intégrer dans vos applications.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
