<section id="experiences" class="experiences">
    <div class="section-title">
        <h2>Experiences</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="card mx-md-3 mb-md-3 col-md-8 bg-dark text-white mb-2">
                <div class="card-body">
                    <h4 class="card-title">Nartex</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Avril 2021 - Actuel</h6>
                    <p class="card-text">Backend Developer</p>
                    <p class="card-text">Développement d'APIs pour une entreprise spécialisée dans les applications mobile. Conception de base de données, mise en place d'architectures multi-services sous Docker et industrialisation d'outils internes.</p>
                </div>
            </div>
            <div class="card mx-md-3 mb-md-3 col-md-3 bg-dark text-white mb-2">
                <div class="card-body">
                    <ul class="list-group bg-dark text-white">
                        <li class="list-group-item">Symfony 5 | 6</li>
                        <li class="list-group-item">PHP 7 | 8</li>
                        <li class="list-group-item">API Platform 2 | 3</li>
                        <li class="list-group-item">Postgres | MySql</li>
                        <li class="list-group-item">AWS services | Firebase</li>
                        <li class="list-group-item">Typesense</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mx-md-3 mb-md-3 col-md-8 mb-2">
                <div class="card-body">
                    <h4 class="card-title">Kiwi Backup</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Juin 2019 - Mars 2021</h6>
                    <p class="card-text">Fullstack Developer</p>
                    <p class="card-text">Développement d'une solution logicielle de sauvegarde cross-platform.</p>
                </div>
            </div>
            <div class="card mx-md-3 mb-md-3 col-md-3 mb-2">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Symfony 4</li>
                        <li class="list-group-item">PHP 7</li>
                        <li class="list-group-item">Python 2 | 3</li>
                        <li class="list-group-item">Mongo | MySql | Influx</li>
                        <li class="list-group-item">Docker</li>
                        <li class="list-group-item">Go</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card mx-md-3 mb-md-3 col-md-8 mb-2">
                <div class="card-body">
                    <h4 class="card-title">2LE</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Juin 2019 - Mars 2021</h6>
                    <p class="card-text">Developer web</p>
                    <p class="card-text">Développement de logiciels métier au sein d'une agence.</p>
                </div>
            </div>
            <div class="card mx-md-3 mb-md-3 col-md-3 mb-2">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Symfony 4</li>
                        <li class="list-group-item">PHP 7</li>
                        <li class="list-group-item">Bootstrap 3 | 4</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
