<section id="portfolio" class="portfolio">
    <div class="section-title">
        <h2>Portfolio</h2>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <h3 class="card-header text-black">Les fit cookies de la petite Marie</h3>
                    <img src="{{ asset('images/fitcookies.png') }}" alt="fitcookies" class="img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">
                            Découvrez le site Les fit cookies de la petite Marie – Une expérience web sur-mesure,
                            alliant gourmandise et innovation.
                        </h5>
                        <p class="card-text justify-text">
                            Un projet unique que j'ai eu le plaisir de développer, avec des fonctionnalités modernes comme
                            la gestion des commandes en ligne, le paiement sécurisé via Stripe et un back-office performant
                            pour un suivi client optimal.
                        </p>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                data-bs-target="#fitcookiesmodal">En savoir plus
                        </button>
                        {% include '/portfolio/fitcookiesmodal.html.twig' %}
                        <button type="button" class="btn btn-dark">
                            <a href="https://lesfitcookiesdelapetitemarie.fr" target="_blank" class="card-link">
                                Visiter le site
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3">
                    <h3 class="card-header text-black">Titine créations</h3>
                    <img src="{{ asset('images/titine.png') }}" alt="titine" class="img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">
                            Titine Créations - L’art au bout des doigts, même d’une seule main
                        </h5>
                        <p class="card-text justify-text">
                            Découvrez le site que j'ai conçu pour mettre en lumière les peintures réalisées au couteau
                            par une artiste handicapée d'une main. À travers ce projet, j'ai créé une plateforme
                            élégante qui expose ses œuvres tout en permettant une gestion autonome grâce à un back
                            office permettant la modération des peintures visibles sur le site.
                        </p>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                data-bs-target="#titinemodal">En savoir plus
                        </button>
                        {% include '/portfolio/titinemodal.html.twig' %}
                        <button type="button" class="btn btn-dark">
                            <a href="https://titine-creations.fr" target="_blank" class="card-link">
                                Visiter le site
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3">
                    <h3 class="card-header text-black">scoringames</h3>
                    <img src="{{ asset('images/scoringames.png') }}" alt="scoringames" class="img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">
                            Scoringames - L'univers du jeu de société connecté à votre ludothèque virtuelle
                        </h5>
                        <p class="card-text justify-text">
                            Scoringames est une plateforme dédiée à l'actualité du jeu de société, proposant des outils
                            innovants pour les passionnés. Découvrez un système de gestion de ludothèque virtuelle, un
                            programme de points récompensant l'activité des utilisateurs (commentaires, partages), et
                            bien plus. Administré via un back office complet avec éditeur WYSIWYG et système d'import
                            de jeux, Scoringames allie simplicité et innovation pour enrichir l'expérience des joueurs.
                        </p>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                data-bs-target="#scoringamesmodal">En savoir plus
                        </button>
                        {% include '/portfolio/scoringames.html.twig' %}
                        <button type="button" class="btn btn-dark">
                            <a href="https://scoringames.com" target="_blank" class="card-link">
                                Visiter le site
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
