<div class="modal fade" id="scoringamesmodal" tabindex="-1" aria-labelledby="scoringamesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <h4 class="card-title text-dark">scoringames</h4>
                    <h6 class="card-title text-muted">L'essence du jeu de société en ligne</h6>
                    <hr>
                    <p class="justify-text">
                        Je suis ravi de vous présenter Scoringames, un site que j'ai développé pour les passionnés de
                        jeux de société. Ce projet allie actualité du jeu et fonctionnalités innovantes pour une
                        expérience immersive.<br>
                        Scoringames propose une ludothèque virtuelle, où les utilisateurs peuvent explorer et gérer
                        une vaste collection de jeux. Grâce à un système de points dynamique, les actions des
                        utilisateurs, telles que les commentaires et les partages, enrichissent l'expérience
                        communautaire.<br>
                        Le site dispose également d'un back office complet pour une gestion efficace : administration
                        des utilisateurs, édition d'articles via un éditeur WYSIWYG, import automatisé des jeux en base
                        de données, et bien plus encore.<br>
                        Scoringames est une véritable vitrine de mon expertise en développement web, alliant
                        fonctionnalité, design moderne, et passion pour les jeux de société.<br>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-pink" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
