<div class="modal fade" id="titinemodal" tabindex="-1" aria-labelledby="titineModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <h4 class="card-title text-dark">Titine-créations</h4>
                    <h6 class="card-title text-muted">Une vitrine pour l'art au-delà des défis</h6>
                    <hr>
                    <p class="justify-text">
                        J'ai eu le privilège de concevoir Titine Créations, un site web dédié à l'exposition des
                        peintures réalisées par une artiste exceptionnelle, qui peint avec une main au couteau en
                        raison d'un handicap. Ce projet reflète non seulement la beauté et la résilience à travers
                        l'art, mais aussi mon engagement à créer des solutions web innovantes.
                    </p>
                    <hr>
                    <p class="justify-text">
                        Le site offre une plateforme moderne et intuitive pour explorer des œuvres uniques et
                        émouvantes. Il intègre un back office sophistiqué permettant de modérer les œuvres, assurant
                        ainsi une gestion fluide et efficace des contenus visibles.
                    </p>
                    <hr>
                    <p class="justify-text">
                        Titine Créations est la preuve que la technologie et l'art peuvent se rencontrer pour offrir
                        une expérience enrichissante et inspirante.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-pink" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
